# Sol. 1

In [15]:
a = 0

def b(): 
   global a

   a = c(a)
def c(a):

 return a + 2

In [16]:
>>> b()
>>> b()
>>> b()
>>> a

6

The initial value of "a" is 0 and it is incremented by 2 at each iteration when the function "b" is called, which in turn calls the function "c," resulting in the value of "a" being 6 once the last expression of "a" is evaluated. Additionally, since the variable "a" is created outside of the function because it is declared a global variable when the function "b" is called, the value of "a" will be fixed at the result of the last expression to be evaluated.

# Sol. 2

In [17]:
file_name = input('please enter the file name:')

def filelength(file_name):
    try:
      file = open(file_name)
      contents = file.read()
      file.close()
      print(len(contents))
    except FileNotFoundError:
      print( file_name +" not found!")
      
      
filelength(file_name)

please enter the file name:Vishal
Vishal not found!

# Sol. 3
Defining the class named Marsupial

In [18]:
class Marsupial():
     #define function called __inti__ and give parameter MyObject.
     #Myobect is a precent instance of class
  def __init__(MyObject):
     #create a list to store items. 
    MyObject.list = []
     #define function put_in_pouch and give values for Myitem
  def put_in_pouch(MyObject, Myitem):
     #use append to add value to the list.
    MyObject.list.append(Myitem)
     #define pouch_content function
  def pouch_contents(MyObject):
    return MyObject.list


## creating the subclass of Marsupial named Kangaroo.
class Kangaroo(Marsupial):

  def __init__(MyObject,x,y):
  #extending the Marsupial __init__ constructor to take,
  #as input, the coordinates x and y of the Kangaroo object,
    Marsupial.__init__(MyObject)
    MyObject.x = x
    MyObject.y = y
   #using jump method 
  def jump(MyObject,dx,dy):
    MyObject.x += dx
    MyObject.y += dy
    #overloading the __str__ operator 
  def __str__(MyObject):

    return 'I am a Kangaroo located at coordinates ({},{})'.format(MyObject.x,MyObject.y)

m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())


k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
I am a Kangaroo located at coordinates (3,0)

# Sol. 4

In [19]:
def collatz(x):

    print(x)
    if x==1:
        return 
    elif x%2==0:
        return collatz(x//2)  
    else:
        return collatz(x*3+1)

In [20]:
>>> collatz(10)
10
5
16
8
4
2
1

10
5
16
8
4
2
1

1

# Sol. 5

In [21]:
def binary(n):
    if n < 2:
        print (n)
    else:
       num = ''
       while n > 0:
           num = str((n % 2)) + num
           n //= 2
       return num

In [22]:
>>> binary(0)
'0'
>>> binary(1)
'1'
>>> binary(2)
'01'
>>> binary(9)
'1001'

0
1

'1001'

# Sol. 6

In [26]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    head = False
    def handle_starttag(self, tag, attrs):
        if tag == "h1":
            self.head = True
    def handle_data(self, data):
        if self.head:
            print(data)


infile = open("w3c.html", "r")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

FileNotFoundError: [Errno 2] No such file or directory: 'w3c.html'

# Sol. 8

In [27]:
SELECT Tempreture from Table;
SELECT distinct City from Table;
SELECT* from Table where Country='India';
SELECT* from Table where Season='Fall';
SELECT City, Country where Rainfall >=200 and Rainfall <=400;
SELECT City, Country from Table where Temprature > 20 order by Temprature ASC;
SELECT count(rainfall) from Table where City='Cairo';
SELECT rainfall,count(rainfall) from Table group by Rainfall;

SyntaxError: invalid syntax (677480316.py, line 1)

OR TRYING A NEW METHOD

In [28]:
#Importing pandas in jupyter notebook
import pandas

In [29]:
dateset = pandas.read_excel("weather_temp.xlsx")

In [30]:
import pandas as pd

In [31]:
dataset = pd.read_excel("weather_temp.xlsx")

In [32]:
dataset

      City           Country    Season    Temperature (C)  Rainfall (mm)
0   Mumbai             India    Winter               24.8            5.9
1   Mumbai             India      Spring             28.4           16.2
2   Mumbai             India      Summer             27.9         1549.4
3   Mumbai             India        Fall             27.6          346.0
4   London    United Kingdom      Winter              4.2          207.7
5   London    United Kingdom      Spring              8.3          169.6
6   London    United Kingdom      Summer             15.7          157.0
7   London    United Kingdom        Fall             10.4          218.5
8    Cairo             Egypt      Winter             13.6           16.5
9    Cairo             Egypt      Spring             20.7            6.5
10   Cairo             Egypt      Summer             27.7            0.1
11   Cairo             Egypt        Fall             22.2            4.5

Reference- (https://www.youtube.com/watch?v=8rfH7al7PgU&ab_channel=LearnUrself123)

# Sol. 9

In [33]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#Changing to uppercase.
UpperCaselist = [w.upper() for w in words]

#Changing to lowercase
LowerCaselist = [w.lower() for w in words]

#length for each word
Lengthlist= [len(w) for w in words]

#list where we can lowercase, uppercase and count the words
LowerUpperLenList= [[w.upper(),w.lower(),len(w)] for w in words]

#The list of words in list words containing 4 or more characters
MoreChar = [i.lower() for i in words if len(i)>=4]


print (UpperCaselist)
print (LowerCaselist)
print (Lengthlist)
print (LowerUpperLenList)
print (MoreChar)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']